<div class="row">
  <aside class="col-md-3">
    <h2>Iteration 1</h2>
    <p>Has 7 actors and 12 used cases along with a star UML. Click on Iteration 1 at the top right panel</p>
  </aside>
  <section class="main col-md-9">
    <article>
    <h2>Customer anonimity for prepare gift cards</h2> 
    <a href="/iteration1/#stk">Stakeholders</a>
  | <a href="/iteration1/#ucs">Used Cases</a>
  | <a href="/iteration1/#uml">Star UML diagram</a>
  | <a href="/iteration1/#stkm">Stakeholder Matrix</a> 
  </span>
  <br><br>
    <p>
        <b>Kamaljit Kaur Sidhu</b> has been studying the medicinal benefits of cannabis at the University of Guelph and has finished her PhD dissertation regarding its effect on sufferers of arthritic pain. 
        She has been working with dispensaries and clinical trial groups and has extensive knowledge on the effect of certain chemical compounds in cannabis such as  THCa – (Tetrahydrocannabinolic Acid) and CBD – (Cannabidiol).  
        Her friend <b>Xing Lui</b> is a business school graduate, who has is part owner and manager of  a “hipster” Queen Street coffee shop, specializing in fancy espressos and pastries. 
        Xing has learned the ins and outs of retailing, customer services and inventory management. 
        <b>Jonas Vanderpot</b> is their school pal, who has always been a connoisseur of cannabis and has demonstrated incredible skills in cultivating the finest buds in all strains and varieties. 
        He now is employed as senior cultivator at with <b>“Amsterdam Organic Grower”</b> in Chatham Ontario and has been Kamaljit’s trusted supplier of medicinal marijuana, meeting her exacting quality demands.</p>
      
      <p>
          National laws in Canada changed to fully legalize cannabis cultivation, manufacturing, distribution and retail so now, this group is energized about business and research opportunities that present themselves. Kamailijit, Xing and Jonas conduct a feasibility study and decide they some of the markets, such as growing, and distribution are too capital intensive and competitive and so they will pool their finances and borrow from “friends and family” to open a retail shop. They will call it <b>“Starbuds”</b> and they have scoped a prospective location on the Esplanade. They want their retail store to stand out from the crowd and be different. Their focus will be on data/privacy, discretion, highest organic quality/purity and genuine medical consultation.</p>

      <p>They are determined to contribute a percentage of their profits (15%) to a charity cause, that will help in a small way to make the world a better place. <b></b>Jonas is in charge of this and decides <u>not</u> to work with a big faceless charity but rather a very local,  specific Not For Profit tangential to their business. He identifies a charity <b>“Hipsters for Hips”</b> which is helps pets (usually larger breed dogs) battle hip dysplasia ailments with both high tech (wearable tech/IOT) and medical cannabis treatments. The wearable tech innovation come through sponsorship of a local “Hackathon” and the cannabis treatment though partnerships with veterinarians, dispensaries and medical doctors. He feels that this is an excellent cause that will appeal to their clientele and Kamaljit is interested in testing some of her hypothesis with dogs as well. They decide that pets are welcome at Starbuds.</p>
      <p>The Starbuds locations will have three sections. One recreational, one is pick up and one is consultative.</p> 
      
      <ul>
          <li>Recreational – Sell traditional products from various suppliers plus edible cannabis</li>
          <li>Pick up - Sell cannabis products only: smoke, vape or capsule only (no edibles)</li>    
          <li>Consultative – Sell services only, no products</li>
      </ul>
      
      <p>Xing will manage the recreational section and pick up counter. The recreation section offers traditional products and cannabis edibles which must be clearly distinguished in the menu. At the table, clients can sit and relax and enjoy coffees, teas and various treats as well as items from a simple sandwich menu, featuring avocado toast. Cannabis edibles such as brownies and cookies will have very clear content descriptions. The government has announced very strict controls with severe penalties to keep cannabis out of the hands of minors. So a process needs to be worked out so no minors are present. There are also very strict laws, including jail time, should any illegal cannabis or drugs products enter their supply chain or contaminate their products and every gram of cannabis must be accounted for. So, all cannabis products sold must come from authorized sources. Amsterdam Organic Grower is one such source and Starbuds decide to work exclusively with them.</p>
      <p>To satisfy government needs, every single cannabis transaction (sale) will have its entire supply chain history (seed to sale) including retail sales price and HST collected reported to a cloud-based website which backed by blockchain. No client information (name, credit card number, phone number) is part of this.  The complete transaction will be unalterable and fully visible to government auditors. Xing will need a very particular POS (Point of Sale) system for the cannabis retailing and reporting. It will have to support many controls and constraints for the cannabis inductry. They will also need to have a B2B, supply chain and inventory management system that backed by blockchain to support the provenance of the cannabis origin. The government may audit these transactions and compare to the GL/books the company is using to report income.</p>
      <p>The management team understands that customers will be very reluctant to provide any personal information which is stored in information systems for all posterity when they order and purchase cannabis products. They feel that foreign state actors (such as the USA Homeland Security) could “hack” into retail cloud systems and collect evidence that they purchased Cannabis products and potentially use this information for immigration/entry ban, hiring or political proposes to USA or other countries. This fear is why consumers may not want to buy online.. and need to be more discreet.</p> 
      <p>At the pickup counter, clients can purchase cannabis for smoking and vaping, but not edibles. This is a self-imposed rule to keep the product away from minors. There is a small area outside their Starbuds where customers can enjoy their product in the fresh air. At this point, Starbuds concerned about smoking by-laws, and so they will not be able to allow guests to smoke/vape any products indoors.</p> 
      <p>The client’s need for discretion and anonymity will fit well into Starbuds mission. Xing expects a high amount of cash business… but the team is worried about security and employee theft. The Ontario government is also extremely concerned about “Electronic Sales Suppression”, which is where taxes and sales made are suppressed from the companies Accounting Systems. This is especially easy with cash. Starbuds would like to investigate a way to use “gift cards” instead to pay.</p>
      <p>Xing is experienced with “Quickbooks” for their accounting purposes (General Ledger, Accounts receivable, accounts payable) as well as payroll.</p>
      <p>The medical part of Starbuds will consist of anonymous consultation sessions with Dr. Sidhu. Kamljit will not sell any products, just her time. She will sometimes partner with Jonas, especially if a new variety of cannabis plant is in scope. A 15 minute consultation session will cost $100.00. She may point the client to cannabis products sold in the store, or elsewhere. Clients may wish to be part of clinical trials and they receive information and perks for doing so. There are different research studies, some involving the need to use wearable technology and some requiring daily filing of information. As such, there will a significant amount of information that will be collected on a daily and weekly basis. To support the client’s privacy, a very privacy protocol is followed, so that none of the research data is traceable back to the individual.</p> 
      <p>Kamaljit intends to store the mountains of data collected on a cloud-based system and will use a variety of data analytics tools. Starbuds will then also sell research data and analysis to interested parties, often government agencies and cannabis vendors.</p>
      <p>Dr. Sidhu’s  calendar will be managed by an Android application. Tablets to book consultations are available in the retail outlet and for privacy reasons, these bookings can be done with avatars. There will be no web-based system for bookings. Using the tablet in the store, clients can check for available times, book their reservations. CRUD function is available for the booking, but the management team is concerned about cancellations and would like a solution.</p>
    </article>
  </section>
</div>