<div class="row">
  <aside class="col-md-3">
    <h2>Case Study</h2>
    <p>The "Star Buds" case study explores the business model of cafe-style, marijuana dispensaries. "Star Bud" cafes
      will be involved with selling cannabis, cannabis edibles, as well as having an order pickup system which may
      include a drive thru style operation. The following website will identify a system of payment that prioritizes
      consumer's personal information privacy.</p>
  </aside>
  <section class="main col-md-9">
    <article>
      <h2>Potters</h2>

      <p>Justice League members that are involved in researching on this case study, and their
        responsibilities, are mentioned below</p>

      <table>
        <tr>
          <th> Member </th>
          <th> League ID </th>
          <th> Email Address </th>
        </tr>
        <tr>
          <td> Superman </td>
          <td> Q01 </td>
          <td> superman@jsleague.ca </td>
        </tr>
        <tr>
          <td> Batman </td>
          <td> Q02 </td>
          <td> batman@jsleague.ca </td>
        </tr>
        <tr>
          <td> Wonder Women </td>
          <td> Q03 </td>
          <td> wonderwoman@jsleague.ca </td>
        </tr>
        <tr>
          <td> Green Lantern </td>
          <td> Q04 </td>
          <td> greenlantern@@jsleague.ca </td>
        </tr>
      </table>
    </article>
  </section>
</div>