<div class="row">
  <section class="main col-md-9">
    <article>
      <h2>CannaPay Solutions - Our Company</h2>
      <br><br>
      <h3>Summary</h3>
      <p>Our goal is to help our new start-ups bring their ideas to market. We offer solutions for development services,
        training videos, and kick starting, along with our already
        developed and tested software suites. We support everything we ship. We provide a full service to our clients,
        from specification through design and implementation to support,
        including app store release, support of applications, and setting up web servers and hosting. </p><br>
      <p>Founded on January 1st 2015 in Toronto, CannaPay Solutions is a full service software development company. We
        can take your idea and work with you in an agile sprint-based
        format to develop feature requirements, and then create mobile apps, websites, databases and everything that is
        necessary to bring it to fruition. </p><br>
      <p>Our first milestone was the launch of our Anonymous Closed-Loop Gift Card Payment Solution for cannabis
        retailers and customers. </p><br>
      <h3>Our Team</h3>
      <p>The Founders of the company are the individual team members of the Potters group: Wonder Woman and Green
        Lantern are responsible for the following divisions and the others
        (Superman and Batman) hold responsibilities for the technical divisions.</p>
      <ol>
        <li>Admin Division</li>
        <li>Legal Division</li>
        <li>Finance/HR Division</li>
        <li>Marketing Division</li>
      </ol>
      <br>
      <p>The following are the technical divisions:</p><br>
      <ol>
        <li>Research and Analysis</li>
        <li>Engineering</li>
        <li>Design</li>
      </ol><br>
      <h3>Other Products</h3><br>
      <h4>Cannabis Plant Tracking Software</h4>
      <ul>
        <li>Closely monitor thousands of plants in our easy-to-use cultivation grid </li>
        <li>log strain types, sapling potency, watering/nutrient cycles</li>
        <li>Convert multiple barcodes and any variation/conversions of products for processing</li>
        <li>Automatically keep track of expiration dates, inventory, quality assurance test results, etc.</li>
      </ul>
      <h3>Looking Ahead</h3>
      <p>In the future, we hope to expand into researching new methods and techniques in the ever growing and highly
        practical field of machine learning, specifically, in the IOT domain. </p>
      <h3>Product Positioning</h3>
      <p>Typically, when signing up for a prepaid card, account activation and creation are done at the time of
        purchase. The customer makes the payment, and the sales representative
        making the sale may ask for a government-issued id and use it to fill in details required to create an account
        such as name, address, telephone number, etc. In this system
        however, the processes of card activation and account creation are done at separate times and locations. Account
        activation happens as expected. The customer will still
        purchase the card at the store and the sales representative will activate the card and create a transaction
        history by making a purchase with the newly activated card.
        Since new cards start out with a balance of $0, this first transaction will fail at the time of verification.
        However, a log of this failed transaction will be created which
        will be used later at the time of account creation. All of this is done using the network's infrastructure.</p>
      <br>
      <p>The whole point of the anonymous gift card system is to help retial outlets such as dispensaries and
        adult-themed stores, where customers are most likely to make payments
        using cash. The impact that going cashless has on these stakeholders is very high as it lessens the chances of
        break-ins, and helps them keep proper records of their
        earnings for tax purposes.</p><br><br><br>
    </article>
  </section>
</div>