<div class="row">
  <aside class="col-md-3">
    <h2>Iteration 1</h2>
    <p>Thirteen stakeholders were identified for iteration 1. Reasons for their inclusion and placement in the
      stakeholder matrix are discussed below.</p>
  </aside>
  <section class="main col-md-9">
    <article>
      <h2>Anonymous Payments Using Pre-Paid Gift Cards</h2>
      <a href="/stakeholder#stk">Stakeholders</a>
      | <a href="/stakeholder#stkm">Stakeholder Matrix</a>
      | <a href="/useCase#uml">Use Case Diagram</a>
      | <a href="/useCase#ucs">Use Case Specifications</a>
      </span>
      <br><br>
      <h3 id='stk'>Stakeholders</h3>
      <ol>
        <li>Government</li>
        <li>Customers</li>
        <li>Network processor manufacturers</li>
        <li>Dispensaries</li>
        <li>Gift Card Account Manager (Ample Payments)</li>
        <li>Gift Card Manufacturer</li>
        <li>Gift Card Sellers (Merchants)</li>
        <li>Network</li>
        <li>Issuing Bank</li>
        <li>Marijuana Farmers</li>
        <li>Scientist (Testing Labs)</li>
        <li>Marijuana end-product manufacturers</li>
        <li>Distributors</li>
      </ol>
      <br>

      <h3 id="stkm">Stakeholder Matrix</h3>
      <p>The upper-left quadrant contains the stakeholders whose needs must be met and kept satisfied. Banks, the
        federal government and manufacturers may stop cooperating if certain rules set by them are broken. For
        example, if customers start abusing their anonymity by making illegitimate online purchases, or if the rules
        regarding the type and amount of customer information that must be shared with networks like Visa are
        changed, then these stakeholders can shut down the system very quickly. </p>
      <br>
      <p>The upper-right quadrant contains the key players of the open-loop gift card system. Because the system
        uses the existing open-loop payment infrastructure, networks have a high stake in the system. Both the
        network and the card account manager (in this case, Ample Payments) will be responsible for the technical
        processes that will ensure proper functionality of the cards. Without partnerships with merchants or retail
        outlets such as Walmart, the availability of the card will be restricted to only select locations. All the
        aforementioned stakeholders have the most profits to gain from the system, and thus have the highest
        incentive to manage it most effectively. The customer is also considered to be a key player because they
        must understand and abide by the rules being followed by the other parties involved. In the use case
        diagram, the customer initiates all the mechanisms that make the card work, giving them a very high amount
        of influence. And since the card is providing them with the power of anonymity, the impact that the card
        has on them is also high.</p>
      <br>
      <p>The lower-left quadrant contains the least involved stakeholders. While the availability of processors
        (POS devices) at retail stores is reliant on the respective network's participation in the system,
        processors are still going to be as ubiquitous as they already are, even if the network opts out as Ample's
        gift card's network. Thus, processor manufacturers are not impacted by the card's performance in the
        market. The remaining three stakeholders were placed in this quadrant for similar reasons. Without these
        stakeholders, dispensaries would have no products to sell. However, their stake in a prepaid gift card
        system remains to be low.
        <br>
        <p>The whole point of the anonymous gift card system is to help retial outlets such as dispensaries and
          adult-themed stores, where customers are most likely to make payments using cash. The impact that going
          cashless has on these stakeholders is very high as it lessens the chances of break-ins, and helps them
          keep proper records of their earnings for tax purposes.</p><br>
        <img src="/images/stakeholder_matrix.PNG" alt="Stakeholder Matrix" width="900" height="550"><br><br>

    </article>
  </section>
</div>